@tailwind base;
@tailwind components;
@tailwind utilities;

.active .nav-indicator{
    width: 4rem;
    background: rgb(226,232,240);
}
.active .nav-text{
    color :rgb(226,232,240)
}

::-webkit-scrollbar {
    display: none;
}
*{
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.progress {
    height: 3px;
    border-radius: 3rem;
    background: blue;
    width: 100%;
    transform-origin: 0 50%;
    animation: scaleProgress auto linear;
    animation-timeline: scroll(root);
}

@keyframes scaleProgress {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

